:root {
    --auto-grid-min-size: 50vh;
}

* {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}


.logo-img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 1em;
}

.img-container {
    margin: 3rem;
}

#text {
    font-size: 9vh;
    margin-top: 30px;
}

.typewriter p {
    text-transform: uppercase;
    font-weight: 700;
    color: chocolate;

}

.description {
    margin: 0;
    background-color: #eae7dc54;
}

#text {
    margin: 2rem;
}

.home-page {
    margin-top: 6vw;
    
}

.autogrid {
    display: grid;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size), 1fr)
    );
    grid-gap: 1rem;
    align-content: center;
    justify-content: center;
}

/* typewriter effect */
.typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid rgba(210, 105, 30, 0.678); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 1px; /* Adjust as needed */
    animation:
        typing 2.5s steps(30, end),
        blink-caret .7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: chocolate; }
}

@media all and (min-width: 320px) {

    #text {
        font-size: 20px;
        margin: 3rem;
    }

}


@media all and (min-width: 1357px) {



    .description {
        margin: 3rem;
        background-color: white;
    }

    #text {
        font-size: 63px;
        margin-top: 30px;
    }

    
}