* {
    ont-family: "Reader Pro", sans-serif;
    margin: 0;
    padding: 0;
    -sizing: border-;
    letter-spacing: 2px;
    color: white;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
}

nav {
    background: #1b1b1b;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    
}

nav ul { 
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

/*  Find a design for the hovering button */
nav ul li a:hover {
    color: brown;
}

nav ul li:hover > ul {
    top: 90px;
    opacity: 1;
    visibility: visible;
}

nav ul ul {
    position: absolute;
    top: 70px;
    opacity: 0;
    /* BUG 01: Investigate why with visibility hidden the drop down menu does not stick on the screen */
    /* visibility: hidden; */
    transition: top .3s;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* More sign for drop-down menu */
