:root {
    --navcolor: rgb(255, 255, 255);
    --themecolor1: #EAE7DC;
    --themecolor3: #ddcfb7;
    --themecolor4: #ECECEC;
    --buttoncolor: #5C2018;
    --offwhite: #FAF9F6;
}




body {
    background: var(white);
}

nav {
    background: var(--themecolor1);
    padding: 15px 40px;
    
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;

}

.menu li a {
    display: block;
}

.logo a {
    font-size: 40px;
    font-weight: 900;

}

.item.primary {
    border-bottom: 1px #444 solid;
}

/* Mobile Menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
    
}



.item.primary {
    order:2
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

/* javascript is needed to add this class dynamically to all items when we click on the hamburger menu*/
.item.active {
    display: block;
}

.toggle {
    /* so that we have the pointer when we are on the menu */
    cursor: pointer;
}

.bars {
    background: black;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before, .bars::after {
    background: black;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top: 5px;
}

.bars::after {
    top: -5px;
}

/*  Tablet Menu */

@media all and (min-width: 468px) {
    .menu {
        justify-content: center;

    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
        border: 0;
    }

    .item.button a {
        padding: 10px 15px;
        margin-right: 1rem;
        background: var(--buttoncolor);
        color: white;
        border-radius: 50em;
       
    }

    .toggle {
        order: 2;
    }

    .button a:hover {
        transition: all .25s;
        background: white;
        color: var(--buttoncolor);
        text-decoration: none;
        border: 1px solid var(--buttoncolor);
    }

}

/* Desktop Menu */
@media all and (min-width: 768px) {


    .menu {
        margin: 0 5rem;
    }

    .item a {
        font-size: 20px;
    }
    
    .item {
        display: block;
        width: auto;
        
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 1;
    }

    .item.button a {
        margin: 0;  
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }

    /* add the style to make this a dropdown button */
    .item.button a {
       
        border-radius: 0;
        border: 0;
        background: none;
        color: black;
    }


}