<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>A Cup of Science</title>
  
    {% load static %}
    <link rel="stylesheet" href="{% static 'acosapp/navbar.css'%}" />
    <link rel="stylesheet" href="{% static 'acosapp/home.css'%}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" contet="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=JetBrains+Mono:wght@800&family=Manrope:wght@200&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(function(){
            
            $(".toggle").on("click", function(){
                // function: we listen when the toggle menu is clicked
                if($(".item").hasClass("active")) {
                    // if the item has the class active, Remove it
                    $(".item").removeClass("active");
        
                }
                else{
                    // otherwise, add the class, meaning the toggle is active
                    $(".item").addClass("active");
                }
            })
        
        });
    </script>
</head>

<body>

    <nav>
        <ul class="menu">
            <li class="logo"><a href="#">A Cup of Science</a></li>
            <li class="item"><a href="#">Home</a></li>
            <li class="item button primary"><a href="#">Seasons</a></li>
            <li class="item"><a href="#">Support us</a></li>
            <li class="item"><a href="#">Contact us</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>

    <div class="home-page">

        <div class="img-container">
            <img class="logo-img" src="{% static 'acosapp/logo.jpg' %}" alt="My image">
        </div>  

    </div>

    <div class="social">
        <a href="#" class="fa fa-linkedin"></a>


    </div>

   


</body>
</html>