<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>A Cup of Science</title>
  
    {% load static %}
    <link rel="stylesheet" href="{% static 'acosapp/navbar.css'%}" />
    <link rel="stylesheet" href="{% static 'acosapp/home.css'%}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" contet="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@100&family=JetBrains+Mono:wght@800&family=Manrope:wght@200&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(function(){
            
            $(".toggle").on("click", function(){
                // function: we listen when the toggle menu is clicked
                if($(".item").hasClass("active")) {
                    // if the item has the class active, Remove it
                    $(".item").removeClass("active");
                    // $(".navbar").removeClass("scrolling-active");
                    
        
                }
                else{
                    // otherwise, add the class, meaning the toggle is active
                    $(".item").addClass("active");
                    $(".navbar").addClass("scrolling-active");
                    
                }
            })
        
        });
    </script>
</head>

<body>

    <header>
        <nav class="navbar" id=navbar>
            <ul class="menu">
                <li class="logo"><a href="#">A Cup of Science</a></li>

              

                <div class="social-container">
        
                    <a href="#" target="_blank"
                      ><i class="fa fa-instagram fa-2x"></i
                    ></a>
        
                    <a
                      href="#"
                      target="_blank"
                      ><i class="fa fa-spotify fa-2x"></i
                    ></a>
                    <a
                      href="#"
                      target="_blank"
                      ><i class="fa fa-linkedin fa-2x"></i
                    ></a>
                </div>

                <li class="item fromLeft"><a href="#">Home</a></li>
                <li class="item fromLeft button primary"><a href="#">Seasons</a></li>
                <li class="item fromLeft"><a href="#">Support us</a></li>
                <li class="item fromLeft"><a href="#">Contact us</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
    </header>

    <script>
        window.onscroll = function() {stickyNavbar()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function stickyNavbar() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
                
            } else {
                navbar.classList.remove("sticky")
            }
        }
    </script>

    <script>
        window.addEventListener('scroll', function () {
            let nav =  document.querySelector('nav');

            nav.classList.toggle('scrolling-active', window.scrollY > 0);
        })
    </script>




    <div class="home-page autogrid">

        <div class="img-container">
            <img class="logo-img" src="{% static 'acosapp/logo.jpg' %}" alt="My image">

            
        </div>  
        <div class="description">
            <p id="text">Listen to </p>
            <p id="text">A Cup of Science's </p>
            <p id="text">last season: </p>
            <div class="typewriter">
                <p id="text">Consciousness</p>
            </div>
            
        </div>

    </div>

</body>
</html>