<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>A Cup of Science</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'acosapp/home.css'%}" />
    <!-- <link rel="stylesheet" href="static/acosapp/home.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" contet="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
        <div class="logo"><h2>A cup of science</h2></div>
        <ul>
            <li><a href="" class="nav-button nav-about">About</a></li>
            <li>
                <a href="" class="nav-button nav-seasons">Season
                </a>
                <ul>
                    <li><a href="">Consciousnes
                    </a></li>
                </ul>
            </li> 
            <li><a href="" class="nav-button nav-support">Support us</a></li>
            <li><a href="" class="nav-button nav-contacts">Contact us</a></a></li>
        </ul>
    </nav>











    <div class="container">

        <section class="home-page">

            <header class='main-header'>
                
                
            </header>

        </section>
    </div>
</body>
</html>